<h1>Aggiungi un prodotto</h1>
<form [formGroup]="productForm!" (ngSubmit)="createProduct()">
  <mat-form-field>
    <mat-label>Titolo</mat-label>
    <input matInput formControlName="title" required/>
    <mat-error>Il titolo è obbligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prezzo</mat-label>
    <input matInput formControlName="price" type="number" required/>
    @if (productForm?.controls?.price?.touched && productForm?.controls?.price?.hasError('min') ) {
      <mat-error>Il prezzo minimo è 1</mat-error>
    }
    @else if (productForm?.controls?.price?.touched && productForm?.controls?.price?.hasError('maxPrice') ) {
      <mat-error>Il prezzo massimo è 1000</mat-error>
    } @else if (productForm?.controls?.price?.touched && productForm?.controls?.price?.invalid  ) {
      <mat-error>Il prezzo è obbligatorio</mat-error>
    }
  </mat-form-field>

    <mat-form-field>
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="category">
      <mat-option value="electronics">Electronics</mat-option>
      <mat-option value="jewelery">Jewelery</mat-option>
      <mat-option>Altro</mat-option>
    </mat-select>
    <mat-error>Selezionare una categoria</mat-error>
  </mat-form-field>

  <!-- <h2>Dettagli aggiuntivi
  </h2>
    <form formGroupName="extra">
      <div>
        <label for="description">Descrizione</label>
        <input id="description" formControlName="description">
      </div>
      <div>
        <label for="image">Foto URL</label>
        <input id="image" formControlName="image">
      </div>
    </form> -->
  <div>
    <button mat-raised-button type="submit" [disabled]="productForm?.invalid">Crea</button>
  </div>
</form>
