<!DOCTYPE html>
@let product = (product$ | async);


@if (product) {
<div>
  <p>
    Prodotto Selezionato:
    <strong>{{ product.title }}</strong>
  </p>
  <p>
    Prezzo: <strong>{{ product.price | currency : 'EUR' }}</strong>
  </p>

  <form (ngSubmit)="changePrice(product)" #priceForm="ngForm">
      <input name="price" type="number" placeholder="Nuovo prezzo"
        required min="1"
        #priceCtrl="ngModel" [(ngModel)]="price">
      <button mat-stroked-button class="secondary" type="submit" [disabled]="priceForm.invalid">Modifica</button>
      @if (priceCtrl.dirty && (priceCtrl.invalid || priceCtrl.hasError('min'))) {
        <span class="help-text">Per favore inserisci un valore valido</span>
      }
  </form>

  <div class="pill-group">
    {{ product.description }}
    <p class="pill"> {{ product.category }} </p>
  </div>

    @if (authService.isLoggedIn()) {
      <button mat-raised-button (click)="addToCart(product.id!)">Aggiungi al carrello</button>
    }
    <button mat-raised-button class="delete" (click)="remove(product)">Cancella</button>
</div>
}
