<!DOCTYPE html>
@let product = (product$ | async);


@if (product) {
<div>
  <p>
    Prodotto Selezionato:
    <strong>{{ product.title }}</strong>
  </p>
  <p>
    Prezzo: <strong>{{ product.price | currency : 'EUR' }}</strong>
  </p>

  <form (ngSubmit)="changePrice(product)" #priceForm="ngForm">
    <mat-form-field>
      <input matInput name="price" type="number" placeholder="Nuovo prezzo"
        required min="1"
        #priceCtrl="ngModel" [(ngModel)]="price">
      
      <button mat-icon-button matSuffix type="submit" [disabled]="priceForm.invalid">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-error>
        Per favore inserisci un valore valido
      </mat-error>

    </mat-form-field>
  </form>

  <mat-chip-set>
    <mat-chip>
      {{ product.category }}
    </mat-chip>
  </mat-chip-set>

    @if (authService.isLoggedIn()) {
      <button mat-raised-button (click)="addToCart(product.id!)">Aggiungi al carrello</button>
    }
    <button mat-raised-button class="delete" (click)="remove(product)">Cancella</button>
</div>
}
