<!DOCTYPE html>
<header> <a routerLink="/products"> <b>{{ settings.title }}</b> </a>
  <span class="spacer"></span>
    <div class="menu-links">
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
      <a routerLink="/user" routerLinkActive="active">My profile</a>
    </div>
  <app-auth></app-auth>
</header>

<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>

<footer id="footer" appcopyright> {{settings.title}} - v{{settings.version}}</footer>
