<!DOCTYPE html>
<header>
    
</header>
<mat-toolbar>
        <mat-toolbar-row>
            <h2> <a routerLink="/products">{{settings.title}} </a> </h2>
            <span class="spacer"></span>
            <mat-button routerLink="/products" routerLinkActive="active"> Products </mat-button>
            <mat-button routerLink="/cart" routerLinkActive="active"> Cart </mat-button>
            <mat-button routerLink="/user" routerLinkActive="active"> My profile </mat-button>
            <app-auth></app-auth>
        </mat-toolbar-row>
    </mat-toolbar>

<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>

<footer> 
  <mat-toolbar>
    <mat-toolbar-row>
      <span>{{settings.title}} - v{{settings.version}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
