<!DOCTYPE html>
<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <h2> <a routerLink="/products">{{settings.title}} </a> </h2>
            <span class="spacer"></span>
            <button mat-button routerLink="/products" routerLinkActive="active"> Products </button>
            <button mat-button routerLink="/cart" routerLinkActive="active" [matBadge]="cartService.cart?.products?.length"> Cart </button>
            <button mat-button routerLink="/user" routerLinkActive="active"> My profile </button>
            <app-auth></app-auth>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  @defer (on viewport) {
    <app-featured/>
  }
  @placeholder {
    <!-- <mat-spinner ngSkipHydration></mat-spinner> -->
     <img src="images/placeholder.png" fill>
  }
</main>

<footer>
  <mat-toolbar>
    <mat-toolbar-row>
      <span appCopyright>{{settings.title}} - v{{settings.version}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
